* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    padding-bottom: 120px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px 80px;
    padding-top: 10px;
    margin-bottom: 80px;
}

    #navbar h1 {
        font-size: 24px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .nav-item {
        list-style: none;
        font-size: 18px;
        color: #e5e7eb;
    }

#header-content {
    margin: 0 150px;
    display: flex;
}

.content-container {
    display:block;
    width: 45%;
}

.content-container h1 {
    font-size: 48px;
    font-weight: bolder;
}

.content-container p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    margin-top: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}

#header-img {
    background-color: #e5e7eb;
    width: 55%;
    margin-left: 50px;
    color: #1f2937;
    text-align: center;
}

#header-img p {
    padding: 89px 0;
}

#about{
    margin-bottom: 80px;
}

#about h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 50px 0;
}

#box-container {
    color: #1f2937;
    display: flex;
    /* margin: 0 0px; */
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
}

.img-box {
    margin: 0 10px
}

.box {
    margin:auto;
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.img-box p {
    margin-top: 10px;
    color: #747474;
    width: 150px;
    text-align: center;
}

#quote-container {
    background-color: #e5e7eb;
    padding: 120px 300px 100px;
}

.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.cite {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px
}

#registration {
    padding: 100px 150px; 
}

.noti-box {
    display:flex;
    background-color: #3882f6;
    border-radius: 12px;
    align-items: center;
    margin: 0 80px;
}

.noti-box h1{
    margin: 50px 120px;
    color:#ffffff;
    font-size: 24px;
}

.noti-box button {
    height: fit-content;
    border: 2px solid #ffffff;
}

span {
    display: block;
}

span:last-child {
    font-size: 18px;
    font-weight: 400;
    color: #dcdcdc
}